//Styles for general sections

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.jumbotron {
  color: white;
  background: transparent;
  animation-name: example;
  animation-duration: 4s;
}

.title {
  font-size: 100px;
  text-shadow: 2px 2px rgba(0, 0, 0, .4);
  @include breakpoint-tablet {
    font-size: 150px;
  }
}

.subtext {
  text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

.background {
  color: white;
  background-color: $color-background-primary;
  margin: 0;
}

.height-lg {
  height: 700px;
}

.height-sm {
  height: 500px;
}


.parallax {
  background-image:url("../images/1500x900mountain.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 375px 375px;
  background-color: black;
  @include breakpoint-tablet {
    background-image:url("../images/1500x900mountain.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }
}



@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}


.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.chevron {
  font-size: 25px;
  margin: 0;
  color: white;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: none;
}


#chevron {
  text-decoration: none;
}

#chevron:hover {
  color: white;
}

.chev-rotate {
  transform: rotate(180deg);
}

.about-section {
  opacity: 0;
  transition: opacity 5s;
}

.about-section.visible {
  opacity: 1;
}

.skills {
  color: white;
  background-color: $color-background-primary;
  padding: 20px 0px;
}

.skills-section {
  opacity: 0;
  transition: opacity 4s;
}

.skills-section.visible {
  opacity: 1;
}

.skills-list {
  @include breakpoint-tablet {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  padding-top: 20px;
  margin: 0 auto;
  p {
    text-align: center;
    color: #8D8D8D;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  h3 {
    color: #C1C1C1;
  }
}

.list {
  width: 200px;
  margin: 20px auto;
}

.contact {
  color: white;
  padding-top: 20px;
  height: 600px;
  background-color: $color-background-primary;
}

.contact-section {
  opacity: 0;
  transition: opacity 4s;
}

.contact-section.visible {
  opacity: 1;
}

.contact-icons {
  @include breakpoint-tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }
  text-align: center;
  margin: 50px auto;
  padding-top: 40px;
  img {
    height: 120px;
    width: 120px;
  }
}

.email-button {
  color: black;
  border: 2px solid black;
  width: 200px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  margin: 40px auto 0px;
  transition: letter-spacing 1s ease;
  @include breakpoint-tablet {
    margin: 0;
  }
}

.email-button:hover {
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: underline;
}

.back-to-top {
  color: white;
  text-align: center;
  margin: 100px 0;
  transition: letter-spacing 1s ease;
}

.back-to-top:hover {
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: underline;
}
